<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is G23</h1>
    <h1> This lecture is for ejs tag</h1>
    <h1>Chitkara University <% let x=90; %></h1>
    <h1>Chitkara University is at plot no : <%= x; %></h1>
    <h2>Phone Number: <%= Math.random() %></h2>
</body>

</html>